<div class="location-search-wrap">
  <button class="input-search-icon" {{action "search"}}>
    {{fa-icon "search" size="lg"}}
  </button>

  {{input
    placeholder="Enter a city name..."
    id="location-search-input"
    value=lastSearch
    enter="handleEnterOnInput"
  }}

  <div class="search-history">
    {{#if lru.memory.length}}
      <div class="history-clear">
        <button class="clear-history-action" {{action "clearHistory"}}>clear whole history</button>
      </div>
    {{/if}}

    <div class="flex-reverse-rows">
      {{#each reversedLruArray as |element index|}}
        <div class="history-element">
          {{#link-to "index" (query-params search=element)}}{{element}}{{/link-to}}
          <button class="remove-element-button" {{action "removeHistoryItem" index}}>remove item</button>
        </div>
      {{/each}}
    </div>
  </div>
</div>